
<h1>Listing Projects</h1>
<%= link_to 'add Project', new_project_path %>

<table class="table">
  <tr>
    <th>Project Name</th>
    <th>Project Tier1</th>
    <th>Project OEM</th>
    <th></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%= project.project_name %></td>
      <td><%= project.project_tier1 %></td>
      <td><%= project.project_oem %></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <td><%= link_to 'Edit', edit_project_path(project) %></td>
      <td><%= link_to 'Delete', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
